body {
    background-color: grey;
    display: flex;
    width: 300px;
    height: 500px;
    flex-direction: column;
    justify-self: center;
    margin: 10%;
}

#head {
    background-color: rgb(0 0 256 / 30%);
    padding-right: 5%;
    padding-top: 3%;
    padding-bottom: 2%;
    font-size: 7vh;
    box-sizing: border-box;
    text-align: right;
    align-content: end;
    height: 20%;
    overflow: overlay;
}

#container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    height: 80%;
    width: 100%;
}